# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
.env
.venv/

# Файл базы данных SQLite
*.db
*.sqlite3

# Логи
*.log

# Временные файлы
.DS_Store
.idea/
.vscode/
.pytest_cache/ 